<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-ebook"
    version="1.0.0-dev">
    <name>Ebook</name>
    <description>Cordova Ebook Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,ebook</keywords>
    <repo>https://github.com/Dubiy/cordova-ebook.git</repo>

    <js-module src="www/ebook.js" name="ebook">
        <clobbers target="ebook" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Device" >
                <param name="android-package" value="ua.pp.garik.cordova.ebook.Ebook"/>
            </feature>
        </config-file>

        <source-file src="src/android/Ebook.java" target-dir="src/ua/pp/garik/cordova/ebook" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Device">
                <param name="ios-package" value="CDVDevice"/>
            </feature>
        </config-file>

        <header-file src="src/ios/CDVDevice.h" />
        <source-file src="src/ios/CDVDevice.m" />
    </platform>
</plugin>
